{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    {% if q_value == '' %}
    <div class="fields">
        <a href="software/engineering/" class="a_box"><div class="cs">Software Engineering</div></a>
        <a href="software/engineering/" class="a_box"><div class="cs">Cybersecurity</div></a>
        <a href="software/engineering/" class="a_box"><div class="cs">AI & ML</div></a>
        <a href="software/engineering/" class="a_box"><div class="cs">Blockchain</div></a>
        <a href="software/engineering/" class="a_box"><div class="cs">Computer System</div></a>
    </div>
    {% else %}
        <br>
    {% endif %}

    <div class="search_results">
        <h5>{{posts_count}} lessons available</h5>
        {% for loop in lessons%}
            <li>
                <a href="{% url 'lesson' loop.id %}"class="search_results">{{ loop.user }} <span>{{loop.topic}}</span></a>
            </li>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}