{% extends 'base.html' %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Add a new Lesson</h3>
        </div>
      </div>
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
  {% endif %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form class="form" action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
      <!-- Render the inputs inside of <tr>s & <td>s -->
      <div class="form__group">
        {{ form}}
      </div>
      <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
      <button class="btn btn--main" type="submit">Submit</button>
    </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}