{% extends '../base.html' %}

{% block content %}
  {% if error %}
    <div class="alert alert-warning">
      <strong>Error!</strong> {{error}}
    </div>
  {% endif %}

  <h1>Sign Up</h1>
  <form action="/signup/" method="POST">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="first_name"/>
    <input type="text" name="last_name" placeholder="last_name"/>
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="email" name="email" placeholder="example@example.com"/>
    <input type="submit" value="Sign Up"/>
  </form>
{% endblock %}